*.aux
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.dia~

proposal/talk/proposal.pdf
irb/infosheet.pdf
irb/infosheet-uchicago.pdf
irb/infosheet-berkeley.pdf
irb/survey.pdf
irb/landslide-guide-p2.pdf
landslide-lecture/*/lecture.pdf
landslide-lecture/lecture.pdf
pdl-retreat/*/pdl-talk.pdf
